:root
{
    --primary-color : #1b2021;
    --secondary-color : #9BC53D;
    --header-color : #FCFCFC;
    --background-color : rgba(252, 252, 252, 0.43);
    --radius : 3px;
    --font-size : 1.3rem;
}


*
{
    color: var(--primary-color);
    text-decoration: none;
    font-family: 'Afacad Flux', sans-serif;
    transition: 0.3s all;
    box-sizing: border-box;
}