@import './base.css';

html, body {
    margin: 0;
    height: 100%;
}

body
{
    background: var(--primary-color);
    font-size: var(--font-size);
}

#app
{
    height: 100%;
}

.layout
{
    height: 100%;
}

footer
{
    position:absolute;
    bottom:0.5vw;
}