@import './base.css';

html, body, #app, .layout {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

body
{
    background-color: white;
    font-size: var(--font-size);
}

.layout
{
    background: var(--background-color);
}

.container
{
    display: flex;
    padding: 0 1vw 3vh 1vw;
}

@media screen and (min-width: 1501px) {
    .container
    {
        flex-direction: row;
    }
}

@media screen and (max-width: 1500px) {
    .container {
        flex-direction: column;
    }
}

.colored-text
{
    color: var(--secondary-color);
}

footer
{
    position:absolute;
    bottom:0.5vw;
}